<ons-page ng-controller="branchesController" ng-init="newPostFields()">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
		</div>
		<div class="center">Edit app Item</div>
		<div class="right" ng-show="isFetching">
			<ons-toolbar-button><ons-icon icon="ion-loading-c" fixed-width="false" ></ons-icon></ons-toolbar-button>
		</div>
	</ons-toolbar>
	<div class="editFieldsListHolder">
		<section>
			<input type="text" class="text-input" ng-model="addNewItemName" placeholder="Post name" style="display: block; width: 75%">
		</section>
		<div ng-repeat="addField in addNewItemFields">
			<section id="add-item-area" ng-if="checkFieldType(addField['type'],'google_map')">
				<input type="text" class="text-input" ng-model="addField['value']['address']" placeholder="Address" style="display: block; width: 75%">
				<input type="text" class="text-input longitude" ng-model="addField['value']['lng']" placeholder="Longitude" style="display: block; width: 37%; float:right; margin-right:13%;">
				<input type="text" class="text-input latitude" ng-model="addField['value']['lat']" placeholder="Latitude" style="display: block; width: 37%; float:right; margin-right:1%;">
				<!--<button ng-click="getCurrentPositionFunc()">הוסף מיקום נוכחי</button>-->
				<div style="clear:both;"></div>
			</section>
			<section ng-if="checkFieldType(addField['type'],'text')">
				<input type="text" class="text-input" ng-model="addField['value']" placeholder="{{addField['label']}}" style="display: block; width: 75%">
			</section>
			<section ng-if="checkFieldType(addField['type'],'textarea')">
				<textarea class="edit_item_map_holder text-input" ng-model="addField['value']" placeholder="{{addField['label']}}" style="display: block; width: 75%; min-height:150px;"></textarea>
			</section>
		</div>
		<section>
			<button ng-click="addItemFunc(addNewItemName, post.attachment_id)">הוסף</button>
		</section>
	</div>
</ons-page>