
<ons-list class="menu-list black-bg">
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('welcome.html', {closeMenu: true});">
    <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
    דף הבית
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('branches.html', {closeMenu: true});">
    <ons-icon icon="ion-map" fixed-width="true"></ons-icon>
    כל נקודות העניין
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('near.html', {closeMenu: true});">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    נקודות עניין קרובות אלי
  </ons-list-item>
   <!--Add post page-->
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="addPostMenuItem()">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    Add new post
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('registration.html', {closeMenu: true});">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    Registration
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('login.html', {closeMenu: true});">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    Login
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="logoutFunc()">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    Log out
  </ons-list-item>
  <!--Add post page-->
</ons-list>
<style>
.page__background{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43a1ad+0,4743ad+47,bf4196+100 */
	background: #43a1ad; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #43a1ad 0%, #4743ad 47%, #bf4196 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #43a1ad 0%,#4743ad 47%,#bf4196 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #43a1ad 0%,#4743ad 47%,#bf4196 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a1ad', endColorstr='#bf4196',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
ons-list.menu-list.black-bg.list.ons-list-inner {
    margin-top: 90px;
    background: rgba(0,0,0,0);
}
ons-icon.ons-icon {
    color: #fff;
}
ons-list-item.menu-item.list__item.ons-list-item-inner.list__item--chevron {
    color: #fff;
	padding: 20px;
}
</style>
